<%- include('../partials/header') %>

<form id="add-ticket-form" name="ticketId" action="/tickets/<%=flightId%>" method="POST">
    <label>Seat:</label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input type="number" name="price">
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>